__pycache__/
*.zip
*.zip
*.env
e.json
.DS_Store
.locks/*
./scripts/model.tar.gz
/data/models/*/endpoints.json
**/metrics/*/per_chunk/*
**/metrics/*/per_inference/*
**/hf_token.txt
data/dataset/*
data/prompts/*
**/.ipynb_checkpoints/
data/metrics/*
data/models*
llama2_tokenizer/*
**/endpoint_path.txt
**/results_path.txt
metadata/*
**/DS_Store
.DS_Store
.fmbt/*
dist/*
tokenizer/*
src/fmbench/results/
src/fmbench/metadata/
src/fmbench/distilbert-base-uncased-v1-SageMaker/
distilbert-base-uncased-v1-SageMaker/
results/
llama2-7b-v1-SageMaker/
fmbench.log
llama2-13b-inf2-g5-p4d-v1-SageMaker/
llama2-70b-g5-p4d-trt-v1-SageMaker/
Llama2-7b-g4dn-SageMaker/
Llama2-7b-g4dn-g5-SageMaker/
llama2-70b-g5-inf2-tgi-v1-SageMaker/
results-*/
analytics/results/