__pycache__/
e.json
.DS_Store
.locks/*
./scripts/model.tar.gz
./data/models/*
./data/metrics/*
**/hf_token.txt
./data/dataset/*
!data/dataset/.gitkeep
!data/metrics/.gitkeep
!data/models/.gitkeep
./data/prompts/*
!./data/prompts/prompt_template.txt
**/.ipynb_checkpoints/
data/metrics/*
data/models*
llama2_tokenizer/*
**/endpoint_path.txt
**/results_path.txt
metadata/*
