__pycache__/
e.json
.DS_Store
.locks/*
./scripts/model.tar.gz
./data/models/*/endpoints.json
**/metrics/*/per_chunk/*
**/metrics/*/per_inference/*
**/hf_token.txt
data/dataset/*
!data/dataset/.gitkeep
data/prompts/*
**/.ipynb_checkpoints/
