[tool.poetry]
name = "fmbench"
version = "1.0.32"
description ="Benchmark performance of **any model** deployed on **Amazon SageMaker** or available on **Amazon Bedrock** or deployed by you on an AWS service of choice (such as Amazon EKS or Amazon EC2) a.k.a **Bring your own endpoint**."
authors = ["Amit Arora <aroraai@amazon.com>", "Madhur prashant <Madhurpt@amazon.com>"]
readme = "README_pypi.md"
license = "MIT"
repository = "https://github.com/aws-samples/foundation-model-benchmarking-tool"
keywords = ["benchmarking", "sagemaker", "bedrock", "bring your own endpoint", "generative-ai", "foundation-models"]

[tool.poetry.dependencies]
python = "^3.11"
requests = "^2.31.0"
ipywidgets = "8.1.1"
transformers = "4.36.2"
pandas = "2.1.4"
datasets = "2.16.1"
seaborn = "0.13.1"
tomark = "0.1.4"
jupyter = "^1.0.0"
boto3 = "^1.34.84"
papermill = "^2.5.0"
pyyaml = "*"
sagemaker = "2.203.0"
litellm = "1.35.8"
plotly = "5.22.0"

[tool.poetry.dev-dependencies]

[[tool.poetry.packages]]
include = "fmbench"
from = "src"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
fmbench = 'fmbench.main:main'
