## packages for neuron sdk 2.18.1
--extra-index-url https://pip.repos.neuron.amazonaws.com
transformers-neuronx==0.11.351.0
neuronx-cc==2.14.213.0
torch-neuronx==2.1.2.2.2.0
## needed to package the model artifacts
torchserve==0.11.0
## needed for LLamaTokenizer
## sentencepiece==0.1.99
tiktoken==0.7.0